IO_LOC  "RST_N" 37;
IO_PORT "RST_N" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "CLK" 52;
IO_PORT "CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LEDS[0]" 10;
IO_PORT "LEDS[0]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "LEDS[1]" 11;
IO_PORT "LEDS[1]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "LEDS[2]" 13;
IO_PORT "LEDS[2]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "LEDS[3]" 14;
IO_PORT "LEDS[3]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "LEDS[4]" 15;
IO_PORT "LEDS[4]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "LEDS[5]" 16;
IO_PORT "LEDS[5]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "BTNS[0]" 3;
IO_PORT "BTNS[0]" IO_TYPE=LVCMOS18;

IO_LOC  "BTNS[1]" 4;
IO_PORT "BTNS[1]" IO_TYPE=LVCMOS18;
